#logo {
    width: 200px;
    height: 100px;
}

.sbHeader {
    width: 220px;
    height: 90px;
    background: rgb(243, 223, 39);
}

#thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#infoImg {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.pointer {
    cursor: pointer;
}

.reviewImgs, .ordersImgs {
    width: 100px;
    height: 100px;
}

.oPTd {
    display: flex;
}