.headerstart {
	height: 100px;
	color: black;
	background: white;
	display: flex;
	left: 0;
	right: 0;
	top: 0;
    position: sticky;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 3px var(--color-light-gray);
	z-index: 10;
}

.headercontent {
	display: flex;
	width: 1200px;
	align-items: center;
	justify-content: space-between;

}
.flex {
	display: flex;
}
#logoimgsizeh {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.logosizeh {
	width: 140px;
	height: 45px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logoimg {
	width: 140px;
	height: 45px;
	object-fit: cover;
	
}
.menefont {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: black;
}
.menupadding {
	padding-left: 20px;
	padding-right: 20px;
}

.btn { 
	text-decoration: none;
	font-size:1rem;
	padding:10px 35px 10px 35px;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color:var(--logo-color);
	transition:all 0.1s;
	font-family: var(--noto);
}

#user-menu{
	position: relative;
}
#user-dropdown{
	position: fixed;
	background-color: white;
	
	box-shadow: 2px 2px 3px var(--color-light-gray);
}

#user-dropdown li:hover {background: var(--color-light-gray);}

#user-dropdown a:hover {color:black; text-decoration: none;}

#user-dropdown a{
	width: 90px;
	
	padding: 10px 0px 10px 0px;
	display: block;
	text-align: center;
}
#user-dropdown li:not(:last-child){
	border-bottom: 1px solid var(--color-light-gray);
	
}

#user-btn{
	user-select: none;
	cursor: pointer;
	padding: 10px 0px 10px 0px;
}
.menubtn {
	display: none;
}


/* 미디어 쿼리 */

@media screen and (max-width: 768px) {
	
	.video-wrap {
		top: 5vw;
		left: -50%;
		widows: 200%;
	}
	
	.headerstart  {
		height: auto;
		
	}
	.logosize {
		padding: 10px 12px;
	}
	
	.headercontent {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.menubtn.active .icon {
		background-image: url("/re/img/close.svg");
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		display: block;
		background-size: contain;
	}
	.menubtn .icon {
		background-image: url("/re/img/menu.svg");
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		display: block;
		background-size: contain;
	}
	.menubtn {
		display: block;
		position: absolute;
		right: 12px;
		top: 10px;
		width: 40px;
		height: 40px;
		border-radius: 8px;
		border: none;
		background-color: transparent;
		
	/* list-style: none;
	color: black;
	display: flex;
	position: absolute;
	right: 32px;
	padding-top: 10px;
	color: black; */
	} 
	.headercontent {
		padding: 0;
		
	}
	.menupadding {
		/* height: 60px;
		text-align: center;
		align-items: center;
		display: flex;
		 */
		 
		 display: block;
		 padding: 15px 0px;
		 text-align: center;
		 width: 100%;
	}
	.menupadding:hover{
		background-color: var(--logo-color);
	}
	#logoimgsizeh {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.logosizeh {
		width: 125px;
		height: 40px;
		padding-left: 12px;
		padding-top: 10px;
		padding-bottom: 10px;
		
	}
	.menefont {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100%;
		display: none;
	}	
	.menefont.active {
		display: block;
	}

	.menefont a {
		color: black;
	}
	#user-menu {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}