@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

.subbox {
	width: 600px;
	height: 600px;
	background-color: antiquewhite;
	border-radius: 50px;
}

.subtextbox {
	width: 550px;
	height: auto;
}

.subfont {
	font-size: 40px;
}
.textfont {
	font-size: var(--font-size-medium);
	color : var(--color-gray);
}
.subpricetext {
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-bold);
}
.subprice {
	font-size: var(--font-size-medium);
	font-weight: 500;
	color : var(--color-gray);
}
.pricefont {
	color: red;
	font-size: 32px;
}

form button {
	width: 550px;
	height: 65px;
	background-color: #dc2329;
	color: white;
	border:none;
	border-radius: 20px;
	font-size: var(--font-size-medium);
	font-weight: 500;
}
.hrstyle {
	opacity: 20%;
}
.hrop {
	opacity: 40%;
}
.subtextline {
	width: 85px;
	height: 5px;
	background-color: var(--logo-color);
}

.mftfont {
	font-size: 22px;
	color: var(--color-gray);
	font-weight: 500;
}
.namefont {
	font-size: var(--font-size-xlarge);
	font-weight: var(--font-weight-bold);
}
.productfont {
	font-size: 22px;
	font-weight: var(--font-weight-bold);
}
.cartbtn {
	width: 200px;
	height: 65px;
	background-color: #d3d3d3;
	color: #555555;
	border:none;
	border-radius: 20px;
	font-size: 20px;
	font-weight: var(--font-weight-bold);
	font-weight: 500;
	background-image: url("/re/img/cart.svg");
	background-repeat: no-repeat;
	background-position: left 40px center;
	text-align: right;
	padding-right: 45px;
	cursor: pointer;
}

#cartMsg {
	display: none;
	position: absolute;
	transform: translate(0px, 12%);
    height: 30px;
    line-height: 30px;
    background: #ffdf82;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    text-align: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    font-weight: 700;
}

#cartMsg > a {
	margin-left: 10px;
	color: #104cf1;
	text-decoration: none;
}

.paybtn {
	background-color: #dc2329;
	color: white;
	border:none;
	border-radius: 20px;
	font-size: 20px;
	font-weight: var(--font-weight-bold);
	font-weight: 500;
	border-radius: 15px;
	display: inline-block;
	padding: 18px 130px;
	border: none;
	outline: none;
	cursor: pointer;
}
#amount{
	width: 30px;
	text-align: center;
	margin : 0 10px;
}
#amount::-webkit-outer-spin-button,
#amount::-webkit-inner-spin-button {
	 -webkit-appearance: none;
	 margin: 0;
}

.fadeIn {
	animation: fadein 0.7s;
  	-moz-animation: fadein 0.7s; /* Firefox */
  	-webkit-animation: fadein 0.7s; /* Safari and Chrome */
  	-o-animation: fadein 0.7s; /* Opera */
}
.fadeOut {
	animation: fadeout 0.6s;
  	-moz-animation: fadeout 0.6s; /* Firefox */
  	-webkit-animation: fadeout 0.6s; /* Safari and Chrome */
  	-o-animation: fadeout 0.6s; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}